<div class="row vdivide">
    <div class="col-md-3 col-sm-12">
        {% if profile['contact']['portrait'] is defined and profile['contact']['portrait'] != '' %}
            {% set portraitLink = links.url('system/storages/q/uuid/' ~ profile['contact']['portrait'] ~ '/w/200') %}
        {% else %}
            {% set portraitLink = '' %}
        {% endif %}
        {% if profile['contact']['initials_avatar']['large'] is defined and profile['contact']['initials_avatar']['large'] != '' %}
            {% set initialsAvatar = profile['contact']['initials_avatar'] %}
        {% else %}
            {% set initialsAvatar = '' %}
        {% endif %}
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'portrait',
                'fieldLabel'                     : false,
                'fieldType'                      : 'files/croppie',
                'fieldValue'                     : profile['contact']['portrait'],
                'imageType'                      : 'portrait',
                'initialsAvatar'                 : initialsAvatar,
                'storageType'                    : 'private',
                'upload'                         : true,
                'avatar'                         : true,
                'remove'                         : true,
                'recover'                        : true,
                'portraitLink'                   : portraitLink,
                'filePackageClass'               : 'System_Base_Providers_BasepackagesServiceProvider_Packages_Users_Profiles',
                'filePackageRowId'               : profile['id']
            ]
        )}}
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                             : component,
                        'componentName'                         : componentName,
                        'componentId'                           : componentId,
                        'sectionId'                             : sectionId,
                        'fieldId'                               : 'account_id',
                        'fieldLabel'                            : 'Account ID',
                        'fieldHidden'                           : true,
                        'fieldType'                             : 'input',
                        'fieldBazScan'                          : true,
                        'fieldBazPostOnCreate'                  : true,
                        'fieldBazPostOnUpdate'                  : true,
                        'fieldValue'                            : account['id']
                    ]
                )}}
                {{adminltetags.useTag('fields',
                    [
                        'component'                             : component,
                        'componentName'                         : componentName,
                        'componentId'                           : componentId,
                        'sectionId'                             : sectionId,
                        'fieldId'                               : 'account_email',
                        'fieldLabel'                            : 'Account ID (Email)',
                        'fieldType'                             : 'input',
                        'fieldPlaceholder'                      : 'Account ID (Email)',
                        'fieldHelp'                             : true,
                        'fieldHelpTooltipContent'               : 'Account ID (Email)',
                        'fieldBazScan'                          : true,
                        'fieldBazJstreeSearch'                  : true,
                        'fieldBazPostOnCreate'                  : false,
                        'fieldBazPostOnUpdate'                  : false,
                        'fieldRequired'                         : true,
                        'fieldDisabled'                         : true,
                        'fieldDataInputMinLength'               : 1,
                        'fieldDataInputMaxLength'               : 100,
                        'fieldValue'                            : account['email']
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                             : component,
                        'componentName'                         : componentName,
                        'componentId'                           : componentId,
                        'sectionId'                             : sectionId,
                        'fieldId'                               : 'account_role',
                        'fieldLabel'                            : 'Account Role',
                        'fieldType'                             : 'input',
                        'fieldPlaceholder'                      : 'Account Role',
                        'fieldHelp'                             : true,
                        'fieldHelpTooltipContent'               : 'Account Role',
                        'fieldBazScan'                          : true,
                        'fieldBazJstreeSearch'                  : true,
                        'fieldBazPostOnCreate'                  : false,
                        'fieldBazPostOnUpdate'                  : false,
                        'fieldRequired'                         : false,
                        'fieldDisabled'                         : true,
                        'fieldDataInputMinLength'               : 1,
                        'fieldDataInputMaxLength'               : 50,
                        'fieldValue'                            : profile['role']
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                             : component,
                        'componentName'                         : componentName,
                        'componentId'                           : componentId,
                        'sectionId'                             : sectionId,
                        'fieldId'                               : 'account_username',
                        'fieldLabel'                            : 'Account Username',
                        'fieldType'                             : 'input',
                        'fieldPlaceholder'                      : 'Account Username',
                        'fieldHelp'                             : true,
                        'fieldHelpTooltipContent'               : 'Account Username',
                        'fieldBazScan'                          : true,
                        'fieldBazJstreeSearch'                  : true,
                        'fieldBazPostOnCreate'                  : false,
                        'fieldBazPostOnUpdate'                  : false,
                        'fieldRequired'                         : false,
                        'fieldDisabled'                         : true,
                        'fieldDataInputMinLength'               : 1,
                        'fieldDataInputMaxLength'               : 50,
                        'fieldValue'                            : account['username']
                    ]
                )}}
            </div>
        </div>
    </div>
</div>