{% set countryIso3 = "" %}
{% if profile['locale_country_iso3'] is defined %}
    {% set countryIso3 = profile['locale_country_iso3'] %}
{% endif %}
{% set timezone = 0 %}
{% if profile['locale_timezone'] is defined %}
    {% set timezone = profile['locale_timezone'] %}
{% endif %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                            : component,
                'componentName'                        : componentName,
                'componentId'                          : componentId,
                'sectionId'                            : sectionId,
                'fieldId'                              : 'locale_country_iso3',
                'fieldLabel'                           : 'Country',
                'fieldType'                            : 'select2',
                'fieldHelp'                            : true,
                'fieldHelpTooltipContent'              : 'Select country',
                'fieldRequired'                        : false,
                'fieldBazScan'                         : true,
                'fieldBazJstreeSearch'                 : true,
                'fieldBazPostOnCreate'                 : true,
                'fieldBazPostOnUpdate'                 : true,
                'fieldDataSelect2Options'              : countries,
                'fieldDataSelect2OptionsKey'           : 'iso3',
                'fieldDataSelect2OptionsValue'         : 'name',
                'fieldDataSelect2OptionsArray'         : true,
                'fieldDataSelect2OptionsSelected'      : countryIso3
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                            : component,
                'componentName'                        : componentName,
                'componentId'                          : componentId,
                'sectionId'                            : sectionId,
                'fieldId'                              : 'locale_timezone',
                'fieldLabel'                           : 'Timezone',
                'fieldType'                            : 'select2',
                'fieldHelp'                            : true,
                'fieldHelpTooltipContent'              : 'Select timezone',
                'fieldRequired'                        : false,
                'fieldBazScan'                         : true,
                'fieldBazJstreeSearch'                 : true,
                'fieldBazPostOnCreate'                 : true,
                'fieldBazPostOnUpdate'                 : true,
                'fieldDataSelect2Options'              : timezones,
                'fieldDataSelect2OptionsKey'           : 'zone_name',
                'fieldDataSelect2OptionsValue'         : 'zone_name',
                'fieldDataSelect2OptionsArray'         : true,
                'fieldDataSelect2OptionsSelected'      : timezone
            ]
        )}}
    </div>
</div>